.version.____ /* version checker */
{
	color: #000016;
	background-color: #98E370;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -599px;
	width: 0.01px;
}

#pu75
{
	width: 0.01px;
	margin-left: -100px;
}

#u75
{
	z-index: 2;
	width: 1161px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u100
{
	z-index: 4;
	width: 1160px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u100:hover
{
	background-color: transparent;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 1160px;
	min-height: 0px;
	margin: 1px -10000px 0px 0px;
}

#menuu578
{
	z-index: 6;
	width: 1101px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	left: -71px;
	margin-top: 63px;
	position: relative;
}

#u579
{
	width: 155px;
	min-height: 80px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u580
{
	width: 153px;
	border-width: 1px;
	border-style: solid;
	border-color: #2F3835;
	background-color: #423428;
	border-radius: 10px;
	padding-bottom: 61px;
	position: relative;
}

#u580:hover
{
	border-color: #2F3835;
	background-color: #FFFFFF;
	width: 153px;
	min-height: 0px;
	margin: 0px;
}

#u582-4
{
	width: 153px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 30px;
}

#u580:hover #u582-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 153px;
	margin: 0px -10000px 0px 0px;
}

#u580:active #u582-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 153px;
	margin: 0px -10000px 0px 0px;
}

#u580:hover #u582-4 p
{
	color: #000000;
	visibility: inherit;
}

#u580:active #u582-4 p
{
	color: #000000;
	visibility: inherit;
}

#u586
{
	width: 155px;
	min-height: 80px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 157px;
}

#u589
{
	width: 153px;
	border-width: 1px;
	border-style: solid;
	border-color: #2F3835;
	background-color: #423428;
	border-radius: 10px;
	padding-bottom: 61px;
	position: relative;
}

#u580:active,#u589:hover
{
	border-color: #2F3835;
	background-color: #FFFFFF;
	width: 153px;
	min-height: 0px;
	margin: 0px;
}

#u592-4
{
	width: 153px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 30px;
}

#u580.MuseMenuActive #u582-4,#u589:hover #u592-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 153px;
	margin: 0px -10000px 0px 0px;
}

#u589:active #u592-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 153px;
	margin: 0px -10000px 0px 0px;
}

#u589:hover #u592-4 p
{
	color: #000000;
	visibility: inherit;
}

#u589:active #u592-4 p
{
	color: #000000;
	visibility: inherit;
}

#u593
{
	width: 155px;
	min-height: 80px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 314px;
}

#u596
{
	width: 153px;
	border-width: 1px;
	border-style: solid;
	border-color: #2F3835;
	background-color: #423428;
	border-radius: 10px;
	padding-bottom: 61px;
	position: relative;
}

#u589:active,#u596:hover
{
	border-color: #2F3835;
	background-color: #FFFFFF;
	width: 153px;
	min-height: 0px;
	margin: 0px;
}

#u596:active
{
	border-color: #2F3835;
	background-color: #FFFFFF;
	width: 153px;
	min-height: 0px;
	margin: 0px;
}

#u598-4
{
	width: 153px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 30px;
}

#u589.MuseMenuActive #u592-4,#u596:hover #u598-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 153px;
	margin: 0px -10000px 0px 0px;
}

#u596:active #u598-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 153px;
	margin: 0px -10000px 0px 0px;
}

#u596.MuseMenuActive #u598-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 153px;
	margin: 0px -10000px 0px 0px;
}

#u596:hover #u598-4 p
{
	color: #000000;
	visibility: inherit;
}

#u596:active #u598-4 p
{
	color: #000000;
	visibility: inherit;
}

#u600
{
	width: 156px;
	min-height: 80px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 471px;
}

#u603
{
	width: 154px;
	border-width: 1px;
	border-style: solid;
	border-color: #2F3835;
	background-color: #423428;
	border-radius: 10px;
	padding-bottom: 61px;
	position: relative;
}

#u603:hover
{
	border-color: #2F3835;
	background-color: #FFFFFF;
	width: 154px;
	min-height: 0px;
	margin: 0px;
}

#u605-4
{
	width: 154px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 30px;
}

#u603:hover #u605-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 154px;
	margin: 0px -10000px 0px 0px;
}

#u603:active #u605-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 154px;
	margin: 0px -10000px 0px 0px;
}

#u603:hover #u605-4 p
{
	color: #000000;
	visibility: inherit;
}

#u603:active #u605-4 p
{
	color: #000000;
	visibility: inherit;
}

#u607
{
	width: 156px;
	min-height: 80px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 629px;
}

#u608
{
	width: 154px;
	border-width: 1px;
	border-style: solid;
	border-color: #2F3835;
	background-color: #423428;
	border-radius: 10px;
	padding-bottom: 61px;
	position: relative;
}

#u608.MuseMenuActive
{
	border-color: #2F3835;
	background-color: #FFFFFF;
	border-radius: 10px;
	width: 154px;
	min-height: 0px;
	margin: 0px;
}

#u609-4
{
	width: 154px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 30px;
	left: 0px;
}

#u603.MuseMenuActive #u605-4,#u608:hover #u609-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 154px;
	margin: 0px -10000px 0px 0px;
}

#u608:active #u609-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 154px;
	margin: 0px -10000px 0px 0px;
}

#u608:hover #u609-4 p
{
	color: #000000;
	visibility: inherit;
}

#u608:active #u609-4 p
{
	color: #000000;
	visibility: inherit;
}

#u614
{
	width: 156px;
	min-height: 80px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 787px;
}

#u615
{
	width: 154px;
	border-width: 1px;
	border-style: solid;
	border-color: #2F3835;
	background-color: #423428;
	border-radius: 10px;
	padding-bottom: 61px;
	position: relative;
}

#u603:active,#u615:hover
{
	border-color: #2F3835;
	background-color: #FFFFFF;
	width: 154px;
	min-height: 0px;
	margin: 0px;
}

#u618-4
{
	width: 154px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 30px;
}

#u608.MuseMenuActive #u609-4,#u615:hover #u618-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 154px;
	margin: 0px -10000px 0px 0px;
}

#u615:active #u618-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 154px;
	margin: 0px -10000px 0px 0px;
}

#u615:hover #u618-4 p
{
	color: #000000;
	visibility: inherit;
}

#u615:active #u618-4 p
{
	color: #000000;
	visibility: inherit;
}

#u621
{
	width: 156px;
	min-height: 80px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 945px;
}

#u624
{
	width: 154px;
	border-width: 1px;
	border-style: solid;
	border-color: #2F3835;
	background-color: #423428;
	border-radius: 10px;
	padding-bottom: 61px;
	position: relative;
}

#u615:active,#u624:hover
{
	border-color: #2F3835;
	background-color: #FFFFFF;
	width: 154px;
	min-height: 0px;
	margin: 0px;
}

#u624:active
{
	border-color: #2F3835;
	background-color: #FFFFFF;
	width: 154px;
	min-height: 0px;
	margin: 0px;
}

#u626-4
{
	width: 154px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 30px;
}

#u615.MuseMenuActive #u618-4,#u624:hover #u626-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 154px;
	margin: 0px -10000px 0px 0px;
}

#u624:active #u626-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 154px;
	margin: 0px -10000px 0px 0px;
}

#u624.MuseMenuActive #u626-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 154px;
	margin: 0px -10000px 0px 0px;
}

#u624:hover #u626-4 p
{
	color: #000000;
	visibility: inherit;
}

#u624:active #u626-4 p
{
	color: #000000;
	visibility: inherit;
}

#u580.MuseMenuActive #u582-4 p,#u589.MuseMenuActive #u592-4 p,#u596.MuseMenuActive #u598-4 p,#u603.MuseMenuActive #u605-4 p,#u608.MuseMenuActive #u609-4 p,#u615.MuseMenuActive #u618-4 p,#u624.MuseMenuActive #u626-4 p
{
	color: #000000;
	visibility: inherit;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u628
{
	z-index: 49;
	width: 1160px;
	height: 7px;
	background-color: #423428;
	left: -100px;
	margin-top: 70px;
	position: relative;
}

#u629-6
{
	z-index: 50;
	width: 1101px;
	min-height: 170px;
	background-color: transparent;
	line-height: 29px;
	color: #2F3835;
	font-size: 24px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	left: -71px;
	margin-top: 78px;
	position: relative;
}

#u629-4
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u629
{
	font-size: 72px;
	line-height: 86px;
}

#u629-2
{
	font-size: 72px;
	color: #423428;
	line-height: 86px;
}

#u629-3
{
	color: #423428;
	line-height: 29px;
}

#u658
{
	z-index: 56;
	height: 2px;
	background-color: #4F4F4F;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
}

#u658-bw
{
	z-index: 56;
	margin-top: 112px;
	height: 2px;
}

#pu660-21
{
	width: 0.01px;
	margin-left: 165px;
	margin-top: 19px;
}

#u660-21
{
	z-index: 57;
	width: 631px;
	min-height: 70px;
	background-color: transparent;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	line-height: 20px;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u660-2,#u660-4,#u660-6,#u660-8,#u660-9,#u660-10,#u660-12,#u660-13,#u660-16,#u660-19
{
	color: #000000;
}

#u661
{
	z-index: 78;
	width: 124px;
	background-color: transparent;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	position: relative;
	margin-right: -10000px;
	margin-top: 88px;
	left: 254px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 617px;
}

#page .verticalspacer
{
	clear: both;
}

