.version.______2 /* version checker */
{
	color: #000002;
	background-color: #5B4D26;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -741px;
	width: 0.01px;
}

#pu160
{
	width: 0.01px;
	margin-left: -100px;
}

#u160
{
	z-index: 2;
	width: 1160px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u166
{
	z-index: 4;
	width: 1161px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	position: relative;
	margin-right: -10000px;
}

#u166:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	width: 1161px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#menuu476
{
	z-index: 6;
	width: 1101px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	left: -71px;
	margin-top: 63px;
	position: relative;
}

#u477
{
	width: 155px;
	min-height: 80px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u478
{
	width: 153px;
	border-width: 1px;
	border-style: solid;
	border-color: #2F3835;
	background-color: #545454;
	border-radius: 10px;
	padding-bottom: 61px;
	position: relative;
}

#u478:hover
{
	border-color: #2F3835;
	background-color: #FFFFFF;
	width: 153px;
	min-height: 0px;
	margin: 0px;
}

#u480-4
{
	width: 153px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 30px;
}

#u478:hover #u480-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 153px;
	margin: 0px -10000px 0px 0px;
}

#u478:active #u480-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 153px;
	margin: 0px -10000px 0px 0px;
}

#u478:hover #u480-4 p
{
	color: #000000;
	visibility: inherit;
}

#u478:active #u480-4 p
{
	color: #000000;
	visibility: inherit;
}

#u484
{
	width: 155px;
	min-height: 80px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 157px;
}

#u487
{
	width: 153px;
	border-width: 1px;
	border-style: solid;
	border-color: #2F3835;
	background-color: #545454;
	border-radius: 10px;
	padding-bottom: 61px;
	position: relative;
}

#u478:active,#u487:hover
{
	border-color: #2F3835;
	background-color: #FFFFFF;
	width: 153px;
	min-height: 0px;
	margin: 0px;
}

#u488-4
{
	width: 153px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 30px;
}

#u478.MuseMenuActive #u480-4,#u487:hover #u488-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 153px;
	margin: 0px -10000px 0px 0px;
}

#u487:active #u488-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 153px;
	margin: 0px -10000px 0px 0px;
}

#u487:hover #u488-4 p
{
	color: #000000;
	visibility: inherit;
}

#u487:active #u488-4 p
{
	color: #000000;
	visibility: inherit;
}

#u491
{
	width: 155px;
	min-height: 80px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 314px;
}

#u494
{
	width: 153px;
	border-width: 1px;
	border-style: solid;
	border-color: #2F3835;
	background-color: #545454;
	border-radius: 10px;
	padding-bottom: 61px;
	position: relative;
}

#u487:active,#u494:hover
{
	border-color: #2F3835;
	background-color: #FFFFFF;
	width: 153px;
	min-height: 0px;
	margin: 0px;
}

#u494:active
{
	border-color: #2F3835;
	background-color: #FFFFFF;
	width: 153px;
	min-height: 0px;
	margin: 0px;
}

#u497-4
{
	width: 153px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 30px;
}

#u487.MuseMenuActive #u488-4,#u494:hover #u497-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 153px;
	margin: 0px -10000px 0px 0px;
}

#u494:active #u497-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 153px;
	margin: 0px -10000px 0px 0px;
}

#u494.MuseMenuActive #u497-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 153px;
	margin: 0px -10000px 0px 0px;
}

#u494:hover #u497-4 p
{
	color: #000000;
	visibility: inherit;
}

#u494:active #u497-4 p
{
	color: #000000;
	visibility: inherit;
}

#u498
{
	width: 156px;
	min-height: 80px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 471px;
}

#u499
{
	width: 154px;
	border-width: 1px;
	border-style: solid;
	border-color: #2F3835;
	background-color: #545454;
	border-radius: 10px;
	padding-bottom: 61px;
	position: relative;
}

#u499.MuseMenuActive
{
	border-color: #2F3835;
	background-color: #FFFFFF;
	border-radius: 10px;
	width: 154px;
	min-height: 0px;
	margin: 0px;
}

#u502-4
{
	width: 154px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 30px;
	left: 0px;
}

#u499:hover #u502-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 154px;
	margin: 0px -10000px 0px 0px;
}

#u499:active #u502-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 154px;
	margin: 0px -10000px 0px 0px;
}

#u499:hover #u502-4 p
{
	color: #000000;
	visibility: inherit;
}

#u499:active #u502-4 p
{
	color: #000000;
	visibility: inherit;
}

#u505
{
	width: 156px;
	min-height: 80px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 629px;
}

#u506
{
	width: 154px;
	border-width: 1px;
	border-style: solid;
	border-color: #2F3835;
	background-color: #545454;
	border-radius: 10px;
	padding-bottom: 61px;
	position: relative;
}

#u506:hover
{
	border-color: #2F3835;
	background-color: #FFFFFF;
	width: 154px;
	min-height: 0px;
	margin: 0px;
}

#u509-4
{
	width: 154px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 30px;
}

#u499.MuseMenuActive #u502-4,#u506:hover #u509-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 154px;
	margin: 0px -10000px 0px 0px;
}

#u506:active #u509-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 154px;
	margin: 0px -10000px 0px 0px;
}

#u506:hover #u509-4 p
{
	color: #000000;
	visibility: inherit;
}

#u506:active #u509-4 p
{
	color: #000000;
	visibility: inherit;
}

#u512
{
	width: 156px;
	min-height: 80px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 787px;
}

#u515
{
	width: 154px;
	border-width: 1px;
	border-style: solid;
	border-color: #2F3835;
	background-color: #545454;
	border-radius: 10px;
	padding-bottom: 61px;
	position: relative;
}

#u506:active,#u515:hover
{
	border-color: #2F3835;
	background-color: #FFFFFF;
	width: 154px;
	min-height: 0px;
	margin: 0px;
}

#u516-4
{
	width: 154px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 30px;
}

#u506.MuseMenuActive #u509-4,#u515:hover #u516-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 154px;
	margin: 0px -10000px 0px 0px;
}

#u515:active #u516-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 154px;
	margin: 0px -10000px 0px 0px;
}

#u515:hover #u516-4 p
{
	color: #000000;
	visibility: inherit;
}

#u515:active #u516-4 p
{
	color: #000000;
	visibility: inherit;
}

#u519
{
	width: 156px;
	min-height: 80px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 945px;
}

#u522
{
	width: 154px;
	border-width: 1px;
	border-style: solid;
	border-color: #2F3835;
	background-color: #545454;
	border-radius: 10px;
	padding-bottom: 61px;
	position: relative;
}

#u515:active,#u522:hover
{
	border-color: #2F3835;
	background-color: #FFFFFF;
	width: 154px;
	min-height: 0px;
	margin: 0px;
}

#u522:active
{
	border-color: #2F3835;
	background-color: #FFFFFF;
	width: 154px;
	min-height: 0px;
	margin: 0px;
}

#u525-4
{
	width: 154px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 30px;
}

#u515.MuseMenuActive #u516-4,#u522:hover #u525-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 154px;
	margin: 0px -10000px 0px 0px;
}

#u522:active #u525-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 154px;
	margin: 0px -10000px 0px 0px;
}

#u522.MuseMenuActive #u525-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 154px;
	margin: 0px -10000px 0px 0px;
}

#u522:hover #u525-4 p
{
	color: #000000;
	visibility: inherit;
}

#u522:active #u525-4 p
{
	color: #000000;
	visibility: inherit;
}

#u478.MuseMenuActive #u480-4 p,#u487.MuseMenuActive #u488-4 p,#u494.MuseMenuActive #u497-4 p,#u499.MuseMenuActive #u502-4 p,#u506.MuseMenuActive #u509-4 p,#u515.MuseMenuActive #u516-4 p,#u522.MuseMenuActive #u525-4 p
{
	color: #000000;
	visibility: inherit;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u636
{
	z-index: 49;
	width: 1160px;
	height: 7px;
	background-color: #4F4F4F;
	left: -100px;
	margin-top: 90px;
	position: relative;
}

#u640-5
{
	z-index: 50;
	width: 1101px;
	min-height: 170px;
	background-color: transparent;
	line-height: 29px;
	color: #545454;
	font-size: 24px;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	left: -71px;
	margin-top: 85px;
	position: relative;
}

#u640-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u640
{
	font-size: 72px;
	line-height: 86px;
}

#u640-2
{
	line-height: 29px;
}

#u679
{
	z-index: 55;
	height: 2px;
	background-color: #4F4F4F;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
}

#u679-bw
{
	z-index: 55;
	margin-top: 85px;
	height: 2px;
}

#pu680-21
{
	width: 0.01px;
	margin-left: 165px;
	margin-top: 18px;
}

#u680-21
{
	z-index: 56;
	width: 631px;
	min-height: 70px;
	background-color: transparent;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	line-height: 20px;
	text-align: center;
	font-family: Verdana, Tahoma, Geneva, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u680-2,#u680-4,#u680-6,#u680-8,#u680-9,#u680-10,#u680-12,#u680-13,#u680-16,#u680-19
{
	color: #000000;
}

#u681
{
	z-index: 77;
	width: 124px;
	background-color: transparent;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	position: relative;
	margin-right: -10000px;
	margin-top: 88px;
	left: 254px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 767px;
}

#page .verticalspacer
{
	clear: both;
}

